@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

html,body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
}
:root{
  --primary-color:#59bd99;
  --secondary-color:#6b574e;

}
/* HEADER*/


.navigation {
  
   margin:0 ;
   width: 100%;
   background-color: var(--secondary-color);
   padding: 3rem 0rem 3rem 0rem; 
  
   

}

.nav-brand{
    padding-left: 0;
    font-family: 'Fredoka One', cursive;
    font-size: xx-large;
    text-align: center !important; 
    
}

.no-bullet {
    list-style: none;
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content:center; 
    padding-top: 40px;
    padding-inline-start: 0;
     
    
}
.list-item-inline{
    display: inline;
    text-decoration: none;
    padding: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    color: #87CEFA;
    
    
}

 .btn{
    background-color:  white;
    border-radius: 1em;
    border: 2px solid blue;
    padding: 1rem;
    list-style: none;
    text-decoration: none;
}

.btn:hover{
 background-color: blue;
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
    
}
.link{
    text-decoration: none;
    margin: 0 2vw;
}

/* Content */


#span{
 font-size: large;
}

img {
  border: 3px solid black;
  border-radius: 50%;
}

.flip-card {
  background-color: transparent;
  width: 80%;
  margin: auto;
  height: 400px;
  perspective: 1000px; /*Remove this if you don't want the 3D effect */
  padding: 30px 0px 80px 30px;
  font-family: 'Ramabhadra', sans-serif;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s; /*when there is a change, transition specifies how smooth it will be */
  transform-style: preserve-3d;
}
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
   -webkit-backface-visibility: hidden;  
    backface-visibility: hidden; 
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--primary-color);
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:  var(--secondary-color);
    color: black;
    transform: rotateY(180deg);
  }

  /*project */
  .no-bullet-project {
    list-style: none;
    text-align: center;
    
}
  .projects{
      background-color: var(--primary-color);
      
      
      margin: auto;
      border-radius: 2em;
      font-family: 'Fredoka One', cursive;
      font-size: xx-large;
      padding: 100px;
      color: black !important;

  }

  /* FOOTER */
   .footer-bar{
    padding:0;
    margin:0 ;
    width:100%;
    background-color: var(--secondary-color);
    padding: 2em 0em 3em 0em;
  
    position: absolute;
 
   }
  .footer-brand{
    text-align: center !important;
      font-family: 'Fredoka One', cursive;
      font-size: xx-large;
      color: #87CEFA;
      
      
  }
  .list-item-footer-inline{
    
    text-decoration: none;
    padding: 2rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: x-large;
    color: #87CEFA;
  }

  .foot-no-bullet{
    
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 50px; 
    
  }
 .footer-list{
   padding: 1em;
 }
  /*media queries */

  @media screen and (max-width:640px){
    .flip-card {
      padding: 30px 30px 30px 30px;
      text-align: center;
    
    }

    .flip-card-inner {
      text-align: center;
      width: 100%;
    }
  
    /* FOOTER */
   .foot-no-bullet{
    font-size: xx-large;
    display: inline;
    text-align: center;
    
   }
   .list-item-inline{
    padding-left: 1em; 
    font-size: 17px;
   }
    
  /*links */
  .list-item-footer-inline{
    margin: 0px;
    width: 100%;
    float: left;
    font-size: 30px;
  
    }
  /* projects */
  .projects{
    text-align: center;
    margin: auto;
    border-radius: 2em;
    font-family: 'Ramabhadra', sans-serif;
    font-size:x-large;
    padding: 100px;
    font-size: 20px;
    

}

p{
  text-align: left;
}

h2{
  padding-top:20px ;
  padding-bottom: 10px;
  font-size: x-large;
}
}



  
 

  